* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--azulBranco);
}

:root {
    --azulC: #003D73;
    --azulE: #053155;
    --azulBB: #1B77C2;
    --branco: #ffffff;
    --verde: #4ECB71;
    --preto: #000000;
    --azulBranco: #EAEFF6;
}

.body {
    overflow-y: scroll;
}


/* TELA CENTRAL / PRINCIPAL */

.mainHome {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* height: 80vh; */
    align-items: flex-end;
}

.section-main {
    height: 100%;
    width: 90%;
}

.lista-quantidades {
    display: flex;
    justify-content: center;
    /* height: 75%; */
    /* width: 100%;
    flex-direction: row;
    justify-content: space-between; */

    margin: 40px 0 80px 0;
}

.cards-iniciais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 3.5vw;
}

.card-inicial {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;

    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    border-radius: 10px;

    width: 18.5vw;
    height: 115px;
}

.card-inicial img {
    align-self: flex-end;
    height: 35px;
}


.quantidade {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.quantidade span {
    font-size: 13px;
    color: rgb(184, 181, 181);
}

.quantidade p {
    color: var(--preto);
    font-weight: 600;
    font-size: 25px;
}

.centro {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 50px; */
}

.centro-um {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* gap: 50px; */
    /* justify-content: space-between; */
}

.linha {
    border: 1px solid #00000011;
}

.cards-meio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-meio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 140px;
    height: 185px;

    color: #000000;
    background-color: aliceblue;

    border: 1px solid #c4baba46;
    border-radius: 20px;

    padding: 13px;
}

.card-meio img {
    height: 35px;
}

.card-meio p {
    font-size: 13px;
    color: #757575;
}

.card-meio h3 {
    cursor: pointer;
    font-size: 15px;
}


